<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='normalize.css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="{{url_for('static', filename='mobile.css')}}">

    <title>Berserk</title>
</head>

<body>
    <nav id="navbar">
        <div id="navbar-container">
            <h1 class="logo">Berserk Fan-Wiki</h1>
            <ul id="navbar-items">
                <li><a class="btn btn-outline-light" href="/index">|Home</a></li>
                <li><a class="btn btn-outline-light" href="#gallery">|Galeria</a></li>
            </ul>
        </div>
    </nav>


    {% block Base %}
    {% endblock %}



    <section id="gallery">
        <div class="headline">Galeria</div>
        <div id="gallery-container">
            {% block GaleryImage %}
            <img class="gallery-image" src="{{url_for('static' , filename='galery/GaleryGuts1.png')}}" alt="guts_image">
            <img class="gallery-image" src="{{url_for('static' , filename='galery/GaleryGuts2.png')}}" alt="guts_image">
            <img class="gallery-image" src="{{url_for('static' , filename='galery/GaleryGuts3.png')}}" alt="guts_image">
            <img class="gallery-image" src="{{url_for('static' , filename='galery/GaleryGuts4.png')}}" alt="guts_image">
            {% endblock %}
        </div>
    </section>





    <footer id="footer">
        <p>Copyright 2024 - Todos os direitos reservados.</p>
        <p>Feito por Leoo_boas.</p>
    </footer>


    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>