<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename='normalize.css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" text="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="{{url_for('static', filename='mobile.css')}}">

    <title>Berserk</title>
</head>

<body>
    <nav id="navbar">
        <div id="navbar-container">
            <h1 class="logo">Berserk Fan-Wiki</h1>
            <ul id="navbar-items">
                <li><a href="#showcase">Início</a></li>
                <li><a href="#gallery">Galeria</a></li>
            </ul>
        </div>
    </nav>

    <header id="showcase">
        <div id="showcase-container">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, sed!</p>
            <a href="" class="btn">Saiba mais</a>
        </div>
    </header>

    <!-- Carrousel
    <section>
        <div>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{url_for('static' , filename='images/Guts.png')}}" class="d-block w-100"
                            alt="Guts_image">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{url_for('static' , filename='images/Griffith.png')}}" class="d-block w-100"
                            alt="Griffith_image">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static' , filename='images/Caska.png')}}" class="d-block w-100"
                            alt="Caska_image">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section> -->

    <section id="features">
        <div class="headline">Sobre os Personagens</div>
        <div id="features-container">
            <div class="feature">
                <span class="feature-title">Lorem ipsum dolor sit amet.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores animi laboriosam illo, doloremque
                    placeat et.</p>
            </div>
            <div class="feature">
                <span class="feature-title">Lorem ipsum dolor sit amet.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores animi laboriosam illo, doloremque
                    placeat et.</p>
            </div>
            <div class="feature">
                <span class="feature-title">Lorem ipsum dolor sit amet.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores animi laboriosam illo, doloremque
                    placeat et.</p>
            </div>
        </div>
    </section>

    <section id="LocaleÉpoca">
        <div class="headline">Local e Época</div>
        <div id="LocaleÉpoca-container">
            <img src="#" alt="">
            <div id="items">
                <div class="item">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                        voluptate!</p>
                </div>
                <div class="item">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                        voluptate!</p>
                </div>
                <div class="item">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                        voluptate!</p>
                </div>
                <div class="item">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                        voluptate!</p>
                </div>
            </div>
        </div>
    </section>

    <div id="testimonials">
        <div class="headline">Por que ler berserk?</div>
        <div id="testimonials-container">
            <div class="testimonial">
                <img src="#" alt="" class="testimonial-image">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, autem dolores dolorum cumque
                    voluptas eius. Eum quisquam illum error sapiente?</p>
            </div>
            <div class="testimonial">
                <img src="#" alt="" class="testimonial-image">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, autem dolores dolorum cumque
                    voluptas
                    eius. Eum quisquam illum error sapiente?</p>
            </div>
        </div>
    </div>
    </div>

    <section id="gallery">
        <div class="headline">Galeria</div>
        <div id="gallery-container">
            <img src="#" alt="" class="gallery-image">



        </div>
    </section>

    <footer id="footer">
        <p>Copyright 2024 - Todos os direitos reservados.</p>
        <p>Feito por Leoo_boas.</p>
    </footer>

    <article>

        {% block Base %}
        {% endblock %}

    </article>


    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>